<!-- confirmation.ninja -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" >
    <title>Delete Account Confirmation</title>
</head>
<body>
    <nav>
        <a href="/">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" width="48">
        </a>
        <div class="top_right">
            <a href="/explore/" style="font-size: x-large;">explore</a> |
            <a href="/users/{{logname}}/" style="font-size: x-large;">{{logname}}</a>
        </div>
    </nav>
<p>{{ username }}</p>

<form action="/accounts/?target=/accounts/create/" method="post" enctype="multipart/form-data">
    <input type="submit" name="delete" value="Confirm Delete Account"/>
    <input type="hidden" name="operation" value="delete"/>
</form>
</body>
</html>