<!-- account_edit.ninja -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/static/css/style.css" rel="stylesheet" >
  <title>Edit Account</title>
</head>
<body>
  <nav>
    <a href="/">
      <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" width="48">
    </a>
    <div class="top_right">
      <a href="/explore/" style="font-size: x-large;">explore</a> |
      <a href="/users/{{logname}}/" style="font-size: x-large;">{{logname}}</a>
    </div>
</nav>
<h2>Edit Account</h2>

<img src="{{ url_for('upload_file', filename = user_photo_url) }}" alt="User Photo" style="width: 600px;">
<p>{{ username }}</p>
<form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
    <label for="file">Photo:</label>
    <input type="file" name="file" id = "file" accept="image/*"/>
    <label for="fullname">Name:</label>
    <input type="text" name="fullname" id = "fullname" value="{{ full_name }}" required/>
    <label for="email">Email:</label>
    <input type="text" name="email" id = "email" value="{{email}}" required/>
    <input type="submit" name="update" value="Submit"/>
    <input type="hidden" name="operation" value="edit_account"/>
</form>
<p><a href="/accounts/password/">Change Password</a></p>
<p><a href="/accounts/delete/">Delete Account</a></p>
</body>
</html>
