<!DOCTYPE html>
<html lang="en">
    <head>
        <title> minista </title>
    </head>
    <body>
        <a href = "/">Logo</a>
        <a href = "/explore/">explore</a>
        <a href = "/users/{{logname}}/">{{logname}}</a>
            <h2>Following</h2>
            {% for follow in following %}
                <img src = "{{ url_for('upload_file', filename = follow.user_img_url) }}" alt = "{{follow.username}}">
                <a href = "/users/{{follow.username}}/">{{follow.username}}</a>
                {% if logname != follow.username %}
                    {% if follow.logname_follows_username %}
                        following
                        <form action="/following?target=/users/{{owner}}/following/" method="post" enctype="multipart/form-data">
                            <input type="submit" name="unfollow" value="unfollow"/>
                            <input type="hidden" name="username" value="{{follow.username}}"/>
                            <input type="hidden" name="operation" value="unfollow"/>
                        </form>
                    {% else %}
                        not following
                        <form action="/following?target=/users/{{owner}}/following/" method="post" enctype="multipart/form-data">
                            <input type="submit" name="follow" value="follow"/>
                            <input type="hidden" name="username" value="{{follow.username}}"/>
                            <input type="hidden" name="operation" value="follow"/>
                        </form>
                    {% endif %}
                {% endif %}
            {% endfor %}
    </body>