<!DOCTYPE html>
<html lang="en">
    <head>
        <title> minista </title>
    </head>
    <body>
        <a href = "/">Logo</a>
        <a href = "/explore/">explore</a>
        <a href = "/users/{{logname}}/">{{logname}}</a>
            <h2>Followers</h2>
            {% for follower in followers %}
                <img src = "{{ url_for('upload_file', filename = follower.user_img_url) }}" alt = "{{follower.username}}">
                <a href = "/users/{{follower.username}}/">{{follower.username}}</a>
                {% if logname != follower.username %}
                    {% if follower.logname_follows_username %}
                        following
                        <form action="/following?target=/users/{{owner}}/followers/" method="post" enctype="multipart/form-data">
                            <input type="submit" name="unfollow" value="unfollow"/>
                            <input type="hidden" name="username" value="{{follower.username}}"/>
                            <input type="hidden" name="operation" value="unfollow"/>
                        </form>
                        {% else %}
                        not following
                        <form action="/following?target=/users/{{owner}}/followers/" method="post" enctype="multipart/form-data">
                            <input type="submit" name="follow" value="follow"/>
                            <input type="hidden" name="username" value="{{follower.username}}"/>
                            <input type="hidden" name="operation" value="follow"/>
                        </form>
                    {% endif %}
                {% endif %}
            {% endfor %}
    </body>
</html>