<!DOCTYPE html>
<html lang="en">
  <head>
    <title>minista</title>
  </head>
  <body>
    <a href="/">
      <img src="../static/images/logo.png" alt="Logo" width="48" >
    </a> 
    <a href="/explore/" style="font-size: x-large;">explore</a>
    <a href="/users/{{logname}}/" style="font-size: x-large;">{{logname}}</a>

    <div id="reactEntry">
      Loading ...
    </div>
    <!-- Load JavaScript -->
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  </body>
</html>
