{% for post in posts %}
        <a href="/posts/{{post.postid}}/">{{post.created}}</a>
        <a href="/users/{{post.owner}}/">{{post.owner}}</a>
        <a href="/users/{{post.owner}}/">
          <img src="{{ url_for('upload_file', filename = post.user_image) }}" alt="{{post.owner}}" />
        </a>
        {{post.like_count}} 
        {% if post.like_count == 1 %}
          like 
        {% else %}
          likes 
        {% endif %} 
        
        {% if post.is_like %}
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/likes/?target=/" method="post" enctype="multipart/form-data">
              <input type="hidden" name="operation" value="unlike"/>
              <input type="hidden" name="postid" value="{{post.postid}}"/>
              <input type="submit" name="unlike" value="unlike"/>
            </form>
        {% elif not post.is_like %}
            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/likes/?target=/" method="post" enctype="multipart/form-data">
              <input type="hidden" name="operation" value="like"/>
              <input type="hidden" name="postid" value="{{post.postid}}"/>
              <input type="submit" name="like" value="like"/>
            </form>
        {% endif %}

        {% for comment in post.comments %}
          <a href="/users/{{comment.owner}}/">{{comment.owner}}</a>
          {{comment.text}} 
        {% endfor %}
        <img src="{{ url_for('upload_file', filename = post.filename) }}" alt="{{post.postid}}" />
        <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
        <form action="/comments/?target=/" method="post" enctype="multipart/form-data">
          <input type="hidden" name="operation" value="create"/>
          <input type="hidden" name="postid" value="{{post.postid}}"/>
          <input type="text" name="text" required/>
          <input type="submit" name="comment" value="comment"/>
        </form>
      {% endfor %} 