<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link href="/static/css/style.css" rel="stylesheet" >
    <title>minista</title>
    <style>
      .logo-image {
        width: 64px; /* 원하는 로고 이미지의 크기 */
      }

      .dark-mode {
        background-color: black;
        color: white;
      }
    </style>
  </head>
  <body>
    <div class="post_profile">
      <a href="/" class="logo-link">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-image">
      </a>
      <!-- <button onclick="darkmode()" id="button" style="margin-left: 10px;">Dark Mode</button> -->
    </div>
    
    {% if logname %}
      <div class="top_right">
        <a href="/explore/" class="explore-link" style="font-size: xx-large;">explore</a> |
        <a href="/users/{{logname}}/" class="logname-link" style="font-size: xx-large;">{{logname}}</a>
      </div>
    {% endif %}

    <div id="reactEntry"></div>

    <!-- <script>
      function darkmode(){
        var body = document.body;
        body.classList.toggle("dark-mode");

        var button = document.getElementById("button");
        if(button.innerHTML == "Dark Mode"){
          button.innerHTML = "Light Mode";
        }
        else{
          button.innerHTML = "Dark Mode";
        }
      }
    </script> -->

    <!-- Load JavaScript -->
    <script src="{{ url_for('static', filename='js/bundle.js') }}"></script>
  </body>
</html>
