<!-- account_password.ninja -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/static/css/style.css" rel="stylesheet" >
    <title>Change Password</title>
</head>
<body>
<nav>
    <a href="/">
        <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" width="48">
    </a>
    <div class="top_right">
        <a href="/explore/" style="font-size: x-large;">explore</a> |
        <a href="/users/{{logname}}/" style="font-size: x-large;">{{logname}}</a>
    </div>
</nav>
<h2>Change Password</h2>

<form action="/accounts/?target=/accounts/edit/" method="post" enctype="multipart/form-data">
    <label for="password">Old Password:</label>
    <input type="password" name="password" id = "password" required/>
    <label for="new_password1">New Password:</label>
    <input type="password" name="new_password1" id = "new_password1" required/>
    <label for="new_password2">New Password, again:</label>
    <input type="password" name="new_password2" id = "new_password2" required/>
    <input type="submit" name="update_password" value="Submit"/>
    <input type="hidden" name="operation" value="update_password"/>
</form>
<p><a href="/accounts/edit/">Back to Account Edit</a></p>
</body>
</html>