<!DOCTYPE html>
<html lang="en">
    <head>
        <title> minista</title>
        <link href="/static/css/style.css" rel="stylesheet" >
    </head>
    <body>
        <a href="/">
            <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" width="48">
        </a>
        <div class="top_right">
            <a href="/explore/" style="font-size: x-large;">explore</a> |
            <a href="/users/{{logname}}/" style="font-size: x-large;">{{logname}}</a>
        </div>
            <a href = "/users/{{owner}}/">{{owner}}</a>
            <a href = "/posts/{{postid}}/">{{timestamp}}</a>
            <a href = "/users/{{owner}}/">
                <img src = "{{ url_for('upload_file', filename = owner_img_url) }}" alt = "{{owner}}" style="width: 200px;">
            </a>
            {{likes}}
            {% if likes == 1 %}
                like
            {% else %}
                likes
            {% endif %}
            {% if is_like %}
                <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
                <form action="/likes/?target=/posts/{{postid}}/" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="unlike"/>
                    <input type="hidden" name="postid" value="{{postid}}"/>
                    <input type="submit" name="unlike" value="unlike"/>
                </form>
            {% elif not is_like %}
                <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
                <form action="/likes/?target=/posts/{{postid}}/" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="like"/>
                    <input type="hidden" name="postid" value="{{postid}}"/>
                    <input type="submit" name="like" value="like"/>
                </form>
            {% endif %}
            <img src = "{{ url_for('upload_file', filename = img_url) }}" alt = "{{postid}}" style="width: 600px;">
            {% for comment in comments %}
                <a href = "/users/{{comment.owner}}/">{{comment.owner}}</a>
                {{comment.text}}
                {% if comment.owner == logname %}
                <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
                <form action="/comments/?target=/posts/{{postid}}/" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="delete"/>
                    <input type="hidden" name="commentid" value="{{comment.commentid}}"/>
                    <input type="submit" name="uncomment" value="delete"/>
                </form>
                {% endif %}
            {% endfor %}

            <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
            <form action="/comments/?target=/posts/{{postid}}" method="post" enctype="multipart/form-data">
                <input type="hidden" name="operation" value="create"/>
                <input type="hidden" name="postid" value="{{postid}}"/>
                <input type="text" name="text" required/>
                <input type="submit" name="comment" value="comment"/>
            </form>


            {% if owner == logname %}
                <!-- DO NOT CHANGE THIS (aside from where we say 'FIXME') -->
                <form action="/posts/?target=/users/{{logname}}/" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="operation" value="delete"/>
                    <input type="hidden" name="postid" value="{{postid}}"/>
                    <input type="submit" name="delete" value="delete this post"/>
                </form>
            {% endif %}
    </body>
</html>